# Analisis Data Listings

In [ ]:
#imports
import pandas as pd
import numpy as np

# Exploracion del Conjunto de Datos

## Exploracion General de los datos

En general, el archivo **no presenta campos significativos** para el proceso de limpieza y validación; sin embargo, para este caso específico se decidió **desagrupar la columna `date`**, con el fin de generar **nuevas columnas derivadas** que representen de manera explícita el **día, mes y año**.

In [2]:
#Lecura del archivo CSV
df = pd.read_csv('../data/raw/calendar.csv', sep = ',', encoding = 'utf-8')
#Imrpimir las primeras filas del DataFrame
display(df.head())

,_id,listing_id,date,available,minimum_nights,maximum_nights
0,68f06557b6fc8583a86f6501,35797,2025-06-26,False,1,7
1,68f06557b6fc8583a86f78f8,6114798,2025-06-26,True,2,99
2,68f06557b6fc8583a86f8fc4,247543,2025-06-26,False,4,30
3,68f06557b6fc8583a86f9e63,6345035,2025-06-26,False,2,30
4,68f06558b6fc8583a86fa698,6404543,2025-06-26,False,2,1125

## Validacion de Nulos

En el dataset no se presenta ningun valor nulo

In [ ]:
#Contar el número de filas en el DataFrame
df.count()

_id               4434
listing_id        4434
date              4434
available         4434
minimum_nights    4434
maximum_nights    4434
dtype: int64

# Transformaciones del conjunto de datos

In [ ]:
#Crear una copia del DataFrame original
df_transfomraciones = df.copy()

In [4]:
# Convertir a datetime de forma segura antes de desagregar
df_transfomraciones['date'] = pd.to_datetime(df_transfomraciones['date'], errors='coerce')

# Ahora sí puedes acceder a .dt
df_transfomraciones['year'] = df_transfomraciones['date'].dt.year
df_transfomraciones['month'] = df_transfomraciones['date'].dt.month
df_transfomraciones['day'] = df_transfomraciones['date'].dt.day

In [ ]:
# Eliminación de columnas irrelevantes
df_transfomraciones = df_transfomraciones.drop(columns=['minimum_nights', 'maximum_nights'])

In [9]:
display(df_transfomraciones.head())

,_id,listing_id,date,available,year,month,day
0,68f06557b6fc8583a86f6501,35797,2025-06-26,False,2025,6,26
1,68f06557b6fc8583a86f78f8,6114798,2025-06-26,True,2025,6,26
2,68f06557b6fc8583a86f8fc4,247543,2025-06-26,False,2025,6,26
3,68f06557b6fc8583a86f9e63,6345035,2025-06-26,False,2025,6,26
4,68f06558b6fc8583a86fa698,6404543,2025-06-26,False,2025,6,26